nav ul{
    display: flex;
    float: left;
    margin-right: 150px;
    font-size: 18px;
    padding-top: 15px;
    list-style-type: none;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.name-nav {
    text-decoration: none;
    color: white;
}

